/* src/components/Gallery.css */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); 
  gap: 16px;
  padding: 16px;
}


.gallery-container {
  text-align: center;
}

.header {
 margin-top: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  margin: 0;
  font-size: 24px;
  flex-grow: 1;
  text-align: center;
}

.border {
  height: 4px;
  background-color: #03254E;
  margin-top: 8px;
}


.selected-count {
  display: flex;
  margin-left: 16px;
}

.delete-button {
  margin-right: 10px;
  padding: 4px 4px;
  font-size: 16px;
  cursor: pointer;
  color: red;
  font-weight: bolder;
  border: solid 2px rgb(212, 0, 0) ;
}

.delete-button:hover{
    border: solid 3px rgb(236, 0, 0) ;
}

.deleted-images {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

}
.each-deleted-images {

  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  border: solid rgb(183, 180, 180) 1px;
}

.each-deleted-images:hover{
  border: solid rgb(99, 99, 99) 1px;
}

.deleted-image {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 5px;
}

.deleted-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deleted-image input {
  position: absolute;
  top: 8px;
  left: 8px;
}

.add-to-gallery-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5px;
  border: solid rgb(151, 151, 151) .2px;
}

.add-to-gallery-button:hover{
  border: solid rgb(1, 103, 255) 2px;
}

.add-button {
  width: 100%;
  height: 100%;
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(226, 225, 225);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;

  text-align: center;
  font-size: large;
}

.all-images {
  display: flex;
  align-items: center;
  height: 10px;
  width: 250px;
  margin: 20px;
}
.show-delete-images{
margin: 10px;
    height: 20px;
  width: 100%;
}